<% if logged_in? %>
  <form method="post" action="/posts/<%= @post.id %>/answers">
    <textarea placeholder="Answer" name="answer"></textarea><br><br>
    <input type="submit" value="BORK!">
  </form>
<% else %>
  <form method="get" action="/users/new">
      <textarea placeholder="Answer" name="answer"></textarea><br><br>
      <input type="submit" value="BORK!">
  </form>
<% end %>


