<% @posts.each do |post| %>
  <a href="/posts/<%= post.id %>"><span class="question"><%= post.question %></span></a> &nbsp;&nbsp;&nbsp; <span class="poster">submitted by <%= post.user.username %></span><br><br>
<% end %>

