<!-- <form method="post" action="/posts">
<br><br>
  <input id="image" placeholder="Image URL goz here!" type="url" name="picture"><br><br>

  <textarea placeholder="What's your question, fren?" name="question"></textarea><br><br>

  <input type="submit" value="BORK?">

</form> -->


