<h1>Things are kind of happening...</h1>
<!-- <p><%= @giphy.image_url %></p> -->


<iframe src="<%= @giphy.image_url %>" width="480" height="392" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="<%= @giphy.image_url %>">via GIPHY</a></p>
